force-app/main/default/flows/Change_Request_Monitor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Requires_Test_Status</name>
        <label>Requires Test Status</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Not Required</defaultConnectorLabel>
        <rules>
            <name>Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Load_Work_Item.sf_devops__Promoted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_test_Status</targetReference>
            </connector>
            <label>Required</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Change Request Monitor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Request Monitor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_test_Status</name>
        <label>Insert test Status</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Item__c</field>
            <value>
                <elementReference>Load_Work_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Load_Work_Item</name>
        <label>Load Work Item</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requires_Test_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sf_devops__Work_Item_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sf_devops__Work_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Load_Work_Item</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>sf_devops__Work_Item_Open_Change_Request__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
